@import 'src/assets/scss/variables';

.optionWrapper {
  margin-bottom: 7rem;
}

.colorOption {
  display: flex;
}

.color {
  align-items: center;
  color: #826266;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  margin-right: 1.5rem;
}

.colorBox {
  background-origin: border-box;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  height: 3.4rem;
  margin-bottom: 0.3rem;
  transition: border 0.2s;
  will-change: border;
  width: 4rem;

  .color:hover & {
    border: 2px solid white;
  }

  .active & {
    border: 2px solid $color-pink !important;
  }
}

.sizeOption {
  display: flex;
  align-items: flex-end;
  // padding-left: 1.6rem;
}

.sizeSlider {
  position: relative;
  flex: 1;
  margin-right: 2rem;
}

$dot-size: 22px;
$handle-size: 51px;

.sizeSliderTrack {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-right: $handle-size - $dot-size;
}

.sizeDot {
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #ffd6c2;
  border: 2px solid #eaa27d;
  cursor: pointer;
  height: $dot-size;
  outline: none;
  width: $dot-size;
}

.sizeHandle {
  cursor: pointer;
  height: $handle-size;
  position: absolute;
  width: $handle-size;
  -webkit-backface-visibility: hidden;
  z-index: 1;

  img {
    display: block;
    height: 100%;
    margin: 0 auto;
  }
}

.sizeLine {
  position: absolute;
  top: 9px;
  width: 100%;
  z-index: 0;
}

.sizeChipmunk {
  align-items: flex-end;
  display: flex;
  min-height: 15rem;
  width: 14rem;

  img {
    bottom: -1.5rem;
    display: none;
    transform-origin: bottom;
    position: relative;
    width: 100%;
    z-index: 1;

    &.active {
      display: block;
    }
  }
}

.sizeInfo {
  bottom: calc(100% + 2rem);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &.first {
    left: 1rem;
    transform: translateX(0);
  }

  &.last {
    left: initial;
    right: 0;
    transform: translateX(0);
  }
}

.bubble {
  background-color: white;
  border-radius: 1rem;
  cursor: default;
  font-family: $font-heading;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.1rem 1.5rem 0.6rem 1.5rem;
  position: relative;
  white-space: nowrap;

  strong {
    font-family: $font-heading;
    font-weight: 800;
  }
}

.arrowDown {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;

  border-top: 1rem solid white;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -0.9rem;
  height: 0;
  width: 0;

  .first & {
    left: 0.9rem;
    transform: translateX(0);
  }

  .last & {
    left: initial;
    right: 1.5rem;
    transform: translateX(0);
  }
}

.sizingChart {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  opacity: 0.6;
}
