@import 'src/assets/scss/variables';
@import 'src/assets/scss/typography';

.cart {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 50rem;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.87, 0, 0.13, 1);
  will-change: transform;
  width: 100%;
  z-index: 5;

  @include for-phone-only {
  }
}

.cart.active {
  transform: translateX(0);
}

.headerTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.headerBottom {
  @extend .th_subtitle;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 1.2rem;
  text-align: center;
}

.happy {
  flex: 1;
  max-width: 4rem;
}

.close {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}
.title {
  color: $color-brown;
  font-size: 2.3rem;
  font-family: $font-heading;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  padding: 0.7rem 1rem 0 1rem;
}

.scrollable {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
  z-index: 1;
}

.lineItems,
.addonItems {
  padding: 2rem 1.5rem;
}

.lineItems {
  background-color: white;
}

.addonItems {
  background-color: #fff3f7;
}

.lineItem {
  border-bottom: 1px solid #ffdcf3;
  margin-bottom: 3rem;
  padding-bottom: 3rem;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }
}
