html,
body {
  line-height: 1.42857143;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #754b4e;
  margin: 0;
  font-size: 62.5%;
  background-color: #f9e4ea;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3 {
  font-size: 2rem;
}

.hideDesktop {
  @include hide-desktop;
}

.hideMobile {
  @include hide-phone;
}
