.header {
  margin-bottom: 400px;
  position: relative;
}

.lottie {
  height: 361px;
  left: 0;
  position: absolute;
  top: 0;
  width: 635px;
}

.logo {
  display: block;
  position: relative;
  width: 200px;
  z-index: 2;
  top: 52px;
  left: 28px;
}
