@import 'src/assets/scss/variables';
@import 'src/assets/scss/typography';

.productWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 118rem;
  margin: 0 auto;

  @include for-phone-only {
    flex-direction: column;
  }
}

.titles {
  h2 {
    @extend .th_subtitle;
  }
}

.left {
  @include for-desktop-only {
    width: 40%;
  }
}

.right {
  @include for-desktop-only {
    width: 43%;
  }
}

.variantColor {
  font-size: 2rem;
}
