@import 'src/assets/scss/variables';
@import 'src/assets/scss/typography';

.productWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;

  @include for-phone-only {
    flex-direction: column;
  }
}

.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titles {
  h1 {
    @extend .th_subtitle;
    font-size: 2.7rem;
    font-weight: 500;
  }
  h2 {
    color: $color-brown;
    font-size: 4.8rem;
    font-family: $font-heading;
    font-weight: 800;
    line-height: 1;

    @include for-phone-only {
      font-size: 3.1rem;
      font-size: 10vw;
    }
  }
}

.back {
  align-items: center;
  color: #eaa7c9;
  display: flex;
  font-family: $font-heading;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
  margin-top: 0.6rem;

  img {
    margin-right: 1rem;
    margin-top: -0.4rem;
    width: 2rem;
  }
}

.left {
  @include for-desktop-only {
    width: 43%;
  }
}

.right {
  @include for-desktop-only {
    width: 52%;
  }
}

.variantColor {
  font-size: 2rem;
}

.addToCart {
  align-items: center;
  background-color: #ea6194;
  border-radius: 1.8rem;
  box-shadow: 3px 5px #dd5089;
  cursor: pointer;
  display: flex;
  overflow: visible;
  padding: 1rem 2rem;
  position: relative;

  &:hover {
  }
  rgb(32, 14, 21) &:active {
    top: 2px;
    left: 2px;
    box-shadow: 1px 2px #dd5089;
  }

  span {
    color: white;
    font-family: $font-heading;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 0.6rem;
    margin-left: 1rem;
  }
}

.cartLottie {
  display: flex;
  width: 4rem;
}
