@import 'src/assets/scss/variables';

.layout {
  position: relative;
  @include for-phone-only {
    padding-top: calc(7rem + 6vw + 1rem);
  }
}

.contentWrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.footer {
  height: 500px;
  background-color: red;
}
