@import 'src/assets/scss/variables';

.slick {
  background-color: #ea6093;
  border-radius: 1.8rem;
  border: 7px solid white;
  line-height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.imagePicker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.smallImage {
  border-radius: 1.8rem;
  border: 0px solid $color-pink;
  cursor: pointer;
  line-height: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  transition: border 0.2s;
}

.active {
  border: 4px solid $color-pink;
}
